h1 {
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-image: url("images/bg1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding-left: 2rem;
}

nav {
    margin-top: -.5rem;
    padding-top: 0;
}

.quote {
    font-size: 2em;
    /* padding: 1em; */
}